
@use './pages/juegos';

@use 'query'; 

@use './pages/index';

@use './pages/noticias';

@use './pages/accesorios';

@use './pages/ps4';



//variables
$color-principal: black;
$color-botones: rgb(255, 107, 21);
$texto-principal:Verdana, Geneva, Tahoma, sans-serif;


//botones
 .botones{
    background-color: $color-botones;
 }

 .botones:hover{
    color:$color-botones;
 }


 @mixin botones($color: white){
    border-radius: 10px;
    color: white;
    padding: 8px;
    font-size: 10px;
    text-decoration: none;
 }

 .botones{
    @include botones();
 }




/*GENERALES*/
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   overflow-x: hidden;
}

h1{
   text-align: center;
   font-family: $texto-principal;
   font-size: 50px;
   font-weight: bold;
   margin-top: 20px;
}

h2{
   font-weight: bold;
   text-align: center;
}


/*NAV*/
.nav-link{
   font-weight: bold;
}

.nav-link:hover{
   -webkit-text-decoration: underline 3px $color-botones;
   text-decoration: underline 3px $color-botones;
   transform: translateY(-2px);
}




/*FOOTER*/

footer{
  background-color: rgb(181, 184, 184);
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  padding: 50px 20px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
   ul{
       list-style: none;
       display: flex;
       position: relative;
   }a{
       img{
           width: 30px;
           height: 30px;
       }
   }
}

.iconos-footer {
   margin: 0px 10px;
 }
 
 .iconos-footer img:hover {
   transform: translateY(-2px);
 }