
@use 'query'; 


//variables
$color-principal: black;
$color-botones: rgb(255, 107, 21);
$texto-principal:Verdana, Geneva, Tahoma, sans-serif;


//botones
 .botones{
    background-color: $color-botones;
 }

 .botones:hover{
    color:$color-botones;
 }


 @mixin botones($color: white){
    border-radius: 10px;
    color: white;
    padding: 8px;
    font-size: 10px;
    text-decoration: none;
 }

 .botones{
    @include botones();
 }




/*GENERALES*/
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
   overflow-x: hidden;
}

h1{
   text-align: center;
   font-family: $texto-principal;
   font-size: 50px;
   font-weight: bold;
   margin-top: 20px;
}

h2{
   font-weight: bold;
   text-align: center;
}


/*NAV*/
.nav-link{
   font-weight: bold;
}

.nav-link:hover{
   -webkit-text-decoration: underline 3px $color-botones;
   text-decoration: underline 3px $color-botones;
   transform: translateY(-2px);
}


/*INDEX*/
.imagen-banner{
   width: 100vw;
   max-width: 100%;
   min-width: 320px;
}

.imagen-banner{
   img{
      width: 100%;
   }
}


.contenido-card{
   text-align: center;
   margin: 5px;
}


.ps5-card{
   border: none;
}


#juegos-varios{
   background-color: $color-principal;
   padding: 10px;
   h2{
      padding: 30px 10px;
      color: white;
   }
   h3{
      color: white;
      font-size: 15px;
   }
   img{
      max-width: 200px;
      min-width: 100px;
   }
}

.card{
   display: flex;
   align-items: center;
   align-items: center;
}

.card-img-top:hover{
   transform: translateY(-5px);
}


/*JUEGOS*/
#box-video{
   background-color:rgb(85, 84, 83) ;
   text-align: center;
   padding: 20px;
   color: white;
}

#video{
   border-radius: 20px;
   margin-top: 60px;
   margin-bottom: 60px;
}

#texto-ultimas-noticias{
   text-align: center;
}

.container-juegos{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 25px;
   margin-top: 50px;
   margin-bottom: 50px;
}

.juegos-items {
   width: 325px;
   background-color: #f4f4f4;
   border-radius: 10px;
   box-shadow: 0px, 2px, 4px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   img{
      width: 100%;
      height: auto;
      -o-object-fit: cover;
      object-fit: cover;
   }
}


.juegos-texto{
   padding: 20px;
   text-align:center;
}



/*NOTICIAS*/
.blog-container {
   display: flex;
   flex-direction: column;
 }

 .blog-items {
   display: flex;
   align-items: center;
   align-content: center;
 }
 
 .img-blog {
   width: 500px;
 }
 
 .blog-body {
   text-align: center;
 }


 /*ACCESORIOS*/
.intro-accesorios {
   text-align: center;
   h1{
      margin: 50px;
   }
 }


 .container-accesorios {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 25px;
   margin-top: 100px;
   margin-bottom: 50px;
 }
 
 .accesorios-card {
   width: 325px;
   border-radius: 10px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   img{
      width: 100%;
      height: auto;
      -o-object-fit: cover;
      object-fit: cover;
   }
 }

 .accesorios-texto {
   flex-direction: column;
   align-items: center;
   padding: 20px;
   text-align: center;
 }


 /*NOSOTROS*/
 .banner-nosotros {
   width: 100%;
   height: 300px;
 }
 
 .nosotros-intro {
   text-align: center;
 }
 
 .img-productos-nosotros {
   width: 100%;
 }
 
 .container-nosotros {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   align-items: flex-start;
 }


 /*PS4*/
 .ps4-container {
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   align-items: flex-end;
 }
 
 .ps4-item {
   text-align: center;
   margin: 10px;
 }
 
 .container-hits {
   display: flex;
   align-items: baseline;
 }
 
 .hits-item {
   border: 0px white;
 }
 
 .ps4-texto {
   text-align: center;
   margin-top: 50px;
 }


/*FOOTER*/

footer{
  background-color: rgb(181, 184, 184);
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100px;
  max-height: 100px;
  width: 100%;
  padding: 50px 20px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
   ul{
       list-style: none;
       display: flex;
       position: relative;
   }a{
       img{
           width: 30px;
           height: 30px;
       }
   }
}

.iconos-footer {
   margin: 0px 10px;
 }
 
 .iconos-footer img:hover {
   transform: translateY(-2px);
 }