/*NOTICIAS*/
.blog-container {
    display: flex;
    flex-direction: column;
  }
 
  .blog-items {
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .img-blog {
    width: 500px;
  }
  
  .blog-body {
    text-align: center;
  }
 